{% extends "base.html" %}

{% block content %}


<!--Prevents iPhone, iPad, and touch devices from scrolling or zooming when touched-->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />



<!-- <script type="text/javascript" src="http://cdn.unioncloud.io/OrbiterMicro_latest.js"></script> -->
<script type="text/javascript" src="static/node_modules/scripts/OrbiterMicro_latest.js"></script> 
<script type="text/javascript" src="static/node_modules/scripts/UnionDraw.js"></script>

<div class="container-fluid roombg">
  <div id="div_canvas" class="row" style="margin-top: 140px">
    <div id="div_canvas2" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">        
      
      
      <!--Drop down menus for selecting line thickness and color-->
      
      <div id="controls">
	Tamanho:
	<select id="thickness" class="fixed btn btn-warning">
	  <option value="1">1</option>
	  <option value="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <option value="5">5</option>
	  <option value="10">10</option>
	  <option value="20">20</option>
	</select>
	
	Cor:
	<select id="color" class="btn btn-warning">
	  <option value="#FFFFFF">#FFFFFF</option>
	  <option value="#AAAAAA">#AAAAAA</option>
	  <option value="#666666">#666666</option>
	  <option value="#000000">#000000</option>
	  <option value="#9BA16C">#9BA16C</option>
	  <option value="#CC8F2B">#CC8F2B</option>
	  <option value="#63631D">#63631D</option>
	</select>
      </div>
      
      <!--A status text field, for displaying connection information-->
      <div id="status" ></div>
      
      <!--The canvas where drawings will be displayed-->
      <canvas id="canvas" > </canvas>


    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">    
      
      <iframe id="video" src="https://appear.in/miguelg" frameborder="0"></iframe>   
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
	
	<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-0"></div>
	<div style="margin-right:0px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 btn mybtn btn-basic">
	  <h4>Ferramentas</h4>
	  <h4>de edição</h4>
	</div>
	<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-1"></div>

	<div style="margin-left:0px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 btn mybtn btn-info">
	  <h4>Upload de imagens</h4>
	  <h4>e documentos</h4>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-warning chat">
	  <h4>Chat</h4>
	</div>
      </div>
    </div>
  </div>
</div>
  
  

{% endblock %}
