{% extends "base.html" %}

{% block content %}


<!--Prevents iPhone, iPad, and touch devices from scrolling or zooming when touched-->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

<div class="row">
  <div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" style="background-color: red;">        
  
  </div>
  <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">    
    
   
  </div>
  <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
</div>



    <canvas id="canvas" > </canvas>


<!-- <script type="text/javascript" src="http://cdn.unioncloud.io/OrbiterMicro_latest.js"></script> -->
<script type="text/javascript" src="static/node_modules/scripts/OrbiterMicro_latest.js"></script> 
<script type="text/javascript" src="static/node_modules/scripts/UnionDraw.js"></script>

{% endblock %}

